@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Product Management System</h1>

    <div class="mt-4 mb-4">
        <a asp-controller="Products" asp-action="Enter" class="btn btn-primary mx-2">Add Product</a>
        <a asp-controller="Products" asp-action="Index" class="btn btn-info mx-2">View Products</a>
        <a asp-controller="Transactions" asp-action="Transaction" class="btn btn-success mx-2">New Transaction</a>
        <a asp-controller="Transactions" asp-action="History" class="btn btn-secondary mx-2">Transaction History</a>
    </div>
</div>
